body {
    margin: 0;
    padding: 0;
}

.gallery {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.gallery .photos {
    position: relative;
    height: 600px;
}

.gallery .photos img {
    width: 100%;
    /*display: none;*/
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 2s;
}

.gallery .photos img.showed {
    opacity: 1;
}


.buttons {
    margin-top: 30px;
}